@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url('../node_modules/rubik-font/fonts/Rubik-Light.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url('../node_modules/rubik-font/fonts/Rubik-Regular.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url('../node_modules/rubik-font/fonts/Rubik-Regular.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url('../node_modules/rubik-font/fonts/Rubik-Medium.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url('../node_modules/rubik-font/fonts/Rubik-Bold.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: local('Rubik Black'), local('Rubik-Black'), url('../node_modules/rubik-font/fonts/Rubik-Black.ttf') format('truetype');
}
