@import './styles/variables.scss';
@import './styles/fonts.scss';

html,
body {
  background: $color-background;
  color: $color-normal;
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
}
