@import './styles/variables.scss';
@import './styles/fonts.scss';

html,
body {
  background: $color-background;
  color: $color-normal;
  font-family: 'Rubik';
  font-size: $font-size-md;
  line-height: $line-height-md;
  margin: 0;
  min-width: $min-size;
  padding: 0;
}

html {
  overflow: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  margin-top: $line-height-xl / 2;
}

h2 {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: $line-height-lg / 2;
}

h3, h4, h5, p {
  margin-top: $line-height-md / 2;
}
